{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo.jpeg' %}" type="image/x-icon">
    <title>Sponsors Form YOI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <nav class="navbar container">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if request.user.is_superuser %}
            <li>
                <a href="/forms">Saved Forms</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a href="/forms/create">Create New Form</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">Sign Up</a>
            </li>
            <li>
                <a href="/signin">Sign In</a>
            </li>
            {% endif %}


        </ul>
    </nav>

    <main class="container">
    {% block content %}
    {% endblock %}
    </main>
    
    <footer class="footer">
        <a href="https://youthofisrael.com/" target="_blank"><img src="{% static 'logo.jpeg' %}" alt=""></a>
    </footer>

</body>
</html>